SSH_TODOLIST_ANDROID_STORE_FILE=/absolute/path/to/ssh-todolist-release.jks
SSH_TODOLIST_ANDROID_STORE_PASSWORD=change-me
SSH_TODOLIST_ANDROID_KEY_ALIAS=ssh-todolist
SSH_TODOLIST_ANDROID_KEY_PASSWORD=change-me
